<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="eLibDb"
             connectionString="Data Source=DESKTOP-G6RLQR8\SQLEXPRESS;Initial Catalog=eLibDb;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;Pooling=True;Min Pool Size=5;Max Pool Size=100;Connection Timeout=30;" />
	</connectionStrings>
</configuration>